@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
}

body {
    color: white;
}

.main-login {
    width: 20%;
    margin: auto;
    margin-top: 100px;
    display: block;
    align-content: center;
}

input {
    color: black;
    border-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.entrar {
    padding: 10px;
    margin-top: 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
    transition: .2s;
    border: none;
    font-weight: bold;
}

.entrar:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.logocsp {
    width: 90%;
}

.logocsp2 {
    width: 50%;
    margin: auto;
    display: block;
    padding: 10px;
}

.login {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5px;
}

.lg1 {
    padding-top: 10px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b2e13;
    overflow-x: hidden;
    padding-top: 20px;
    font-style: none;
}
  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    transition: .2s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
    background-color: #4C7449;
    transform: scale(1.2);
}
  
.homepage {
    margin-left: 250px;
    color: black;
}

.noticia1 {
    background-color: #c9c9c973;
    padding: 10px;
    border-radius: 15px;
    transition: .2s;
}

.noticia1:hover {
    transform: scale(1.2);
}

.bodyh {
    background-image: url('https://media.discordapp.net/attachments/1343640631926456343/1354171937378668715/Design_sem_nome_1.png?ex=67e45265&is=67e300e5&hm=c867a2276cf3867461d732721f1d9ce90696f9849c574d90cdc81df699486cc0&=&format=webp&quality=lossless&width=480&height=538');
    background-size: 690px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-attachment: fixed;
}

#adminbt {
    margin-left: 290px;
}

#adminbt:hover {
    cursor: pointer;
}

button {
    text-transform: uppercase;
    background-color: rgb(12, 31, 17);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    transition: .2s;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}