* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    color: white;
}

.main-login {
    width: 20%;
    margin: auto;
    margin-top: 100px;
    display: block;
    align-content: center;
}

input {
    color: black;
    border-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.entrar {
    padding: 10px;
    margin-top: 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
    transition: .2s;
    border: none;
    font-weight: bold;
}

.entrar:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.logocsp {
    width: 90%;
}

.logocsp2 {
    width: 50%;
    margin: auto;
    display: block;
    padding: 10px;
}

.login {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5px;
}

.lg1 {
    padding-top: 10px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(27, 43, 0);
    overflow-x: hidden;
    padding-top: 20px;
    font-style: none;
}
  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .2s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
    background-color: #181818;
    transform: scale(1.2)
}
  
.homepage {
    margin-left: 250px;
    color: black;
}

.noticia1 {
    background-color: #c9c9c973;
    padding: 10px;
    border-radius: 15px;
}

.nots {
    margin: 30px;
}

#adminbt {
    margin-left: 290px;
}

#adminbt:hover {
    cursor: pointer;
}

.ncsp {
    background-image: url(https://media.discordapp.net/attachments/1171519091991908354/1354091111433637940/sapr.jpg?ex=67e4071e&is=67e2b59e&hm=4cbed229f54eb6e95dd34e4461e018e7c98c34706bf7f5b57816de60183ec8e4&=&format=webp&width=827&height=465);
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent repeating the image */
}

footer {
    background-color: rgb(11, 41, 16);
    padding: 10px;
    text-align: center;
    font-size: 6px;
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Align it to the bottom of the page */
    left: 0;
    width: 100%; /* Ensure it spans the full width */
}
